---
layout: default
---
<header class="page-header" role="banner">
  <img src="static/figures/CEERA.png" alt="Confusion Matrix SVM"style="padding-bottom: 40px;">
  <img src="static/figures/logo.png" alt="logo"style="width: 150px;height: 120px;">
  <h2 style = 'color:aliceblue' class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
  <a href="https://github.com/BrandonLuong/CERA" class="btn">Website Repo</a>
  <a href="https://github.com/kellyhpark/Pole-Validation" class="btn">Project Repo</a>
  <a href="docs/report.pdf" class="btn">Report</a>
</header>
{{ content }}