---
layout: default
---
<header class="page-header" role="banner">
  <h1 style = 'color:aliceblue' class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
  <h2 style = 'color:aliceblue' class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
  <a href="https://github.com/BrandonLuong/CERA" class="btn">Website Repo</a>
  <a href="https://github.com/kellyhpark/Pole-Validation" class="btn">Project Repo</a>
  <a href="docs/CERA_Report.pdf" class="btn">Report</a>
</header>
{{ content }}